# Rules in this file were initially inferred by Visual Studio IntelliCode from the C:\Users\Rukia\W2021\CSCN71030_Team_Based_Dev\repo\CSCN71030-Group-Project\CSCN71030-Group-Project codebase based on best match to current usage at 2021-03-31
# You can modify the rules from these initially generated values to suit your own policies
# You can learn more about editorconfig here: https://docs.microsoft.com/en-us/visualstudio/ide/editorconfig-code-style-settings-reference
[*.cs]

